langchain
langchain-core
langchain-community
beautifulsoup4
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
langchain_huggingface 
pymongo 
langsmith
pandas
arxiv 
wikipedia
langgraph-cli[inmem]
